<div class="container bg-white shadow-lg p-3 mb-5 bg-body rounded">
  <h1 class="text-center">Detalles</h1>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Cantidad</th>
        <th scope="col">Prestamo</th>
        <th scope="col">Libro</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <% @detalles.each do |detalle| %>
      <tr>
        <td><%= detalle.cantidad %></td>
        <td><%= "Estado: "+detalle.Prestamo.estado.to_s+ " | " + detalle.Prestamo.fecha.to_s %></td>
        <td><%= detalle.Libro.titulo %></td>
        <td>
          <button class="btn btn-primary">
            <a style="text-decoration:none; color: white;" href=<%="detalles/"+detalle.id.to_s%>>
              Ver
            </a>
          </button>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center ">
    <button class="btn btn-primary">
      <a style="text-decoration:none; color: white;" href=<%=new_detalle_path%>>
        Nuevo detalle
      </a>
    </button>
  </div>
</div>