<div class="container bg-white shadow-lg p-3 mb-5 bg-body w-fit rounded">
  <h1 class="text-center">Detalles</h1>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Cantidad</th>
        <th scope="col">Prestamo</th>
        <th scope="col">Libro</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <% @detalles.each do |detalle| %>
      <tr>
        <td><%= detalle.cantidad %></td>
        <td><%= "Estado: "+detalle.Prestamo.estado.to_s+ " | " + detalle.Prestamo.fecha.to_s %></td>
        <td><%= detalle.Libro.titulo %></td>
        <td>
          <%= link_to "Ver", detalle , :class => 'btn btn-primary'%>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center ">
    <%= link_to "Nuevo detalle", new_detalle_path , :class => 'btn btn-primary'%>
  </div>
</div>