<div class="container bg-white shadow-lg p-3 mb-5 bg-body rounded">
  <h1 class="text-center">Prestamos</h1>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Fecha/th>
        <th scope="col">Estado</th>
        <th scope="col">Usuario</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
        <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.fecha%></td>
        <td><%= prestamo.estado %></td>
        <td><%= prestamo.Usuario.nombres%></td>
        <td>
          <button class="btn btn-primary">
            <a style="text-decoration:none; color: white;" href=<%="prestamos/"+prestamo.id.to_s%>>
              Ver
            </a>
          </button>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center ">
    <button class="btn btn-primary">
      <a style="text-decoration:none; color: white;" href=<%=new_prestamo_path%>>
        Nuevo prestamo
      </a>
    </button>
  </div>
</div>






















