<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-50 m-auto">
    <%= form.label :nombres, :class => 'form-label' %>
    <%= form.text_field :nombres, :required => true, :class => 'form-control' %>
  </div>

  <div class="w-50 m-auto">
    <%= form.label :apellidos, :class => 'form-label' %>
    <%= form.text_field :apellidos, :required => true, :class => 'form-control' %>
  </div>

  <div class="w-50 m-auto">
    <%= form.label :direccion, :class => 'form-label' %>
    <%= form.text_field :direccion, :required => true, :class => 'form-control' %>
  </div>

  <div class="w-50 m-auto">
    <%= form.label :telefono, :class => 'form-label' %>
    <%= form.number_field :telefono, :required => true, :class => 'form-control' %>
  </div>

  <div class="w-50 m-auto">
    <%= form.label :login, :class => 'form-label' %>
    <%= form.text_field :login, :required => true, :class => 'form-control' %>
  </div>

  <div class="w-50 m-auto">
    <%= form.label :password, :class => 'form-label' %>
    <%= form.text_field :password, :required => true, :class => 'form-control' %>
  </div>

  <div class="w-50 m-auto">
    <%= form.label :email, :class => 'form-label' %>
    <%= form.text_field :email, :required => true, :class => 'form-control' %>
  </div>

  <div class="mt-2 d-flex flex-row justify-content-evenly">
    <%= form.submit 'Crear', :class => 'btn btn-primary' %>
    <%= link_to "Regresar a usuarios", usuarios_path , :class => 'btn btn-primary'%>
  </div>
<% end %>
