<div class="container bg-white shadow-lg p-3 mb-5 bg-body rounded">
  <h1 class="text-center">Usuarios</h1>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Dirección</th>
        <th scope="col">Télefono</th>
        <th scope="col">Login</th>
        <th scope="col">Contraseña</th>
        <th scope="col">Correo eléctronico</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
        <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombres %></td>
        <td><%= usuario.apellidos %></td>
        <td><%= usuario.direccion %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.login %></td>
        <td><%= usuario.password %></td>
        <td><%= usuario.email %></td>        
        <td>
          <%= link_to "Ver", usuario , :class => 'btn btn-primary'%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center ">
    <%= link_to "Nuevo usuario", new_usuario_path , :class => 'btn btn-primary'%>
  </div>
</div>










