<%= form_with(model: libro) do |form| %>
  <% if libro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(libro.errors.count, "error") %> prohibited this libro from being saved:</h2>

      <ul>
        <% libro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-50 m-auto">
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo, :required => true, :class => 'form-control' %>
  </div>

  <div class="w-50 m-auto">
    <%= form.label :autor, style: "display: block" %>
    <%= form.text_field :autor, :required => true, :class => 'form-control' %>
  </div>

  <div class="w-50 m-auto">
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year,value: 0,  min: 0, max:3000 ,:required => true, :class => 'form-control' %>
  </div>

  <div class="mt-2 d-flex flex-row justify-content-evenly">
    <%= form.submit 'Crear', :class => 'btn btn-primary' %>
    <%= link_to "Back to libros", libros_path , :class => 'btn btn-primary'%>
  </div>
<% end %>
